extends layout
block content
    h1= title
    p Welcome to #{title}
    include ./map.pug
    -
     function add(a,b){
         return a + b;
     }
     var c = 55;
     console.log(c);
     var trainers = ["Ash", "Brock", "Misty"];
    p= c
    p= add(5,7)
    
    ul
        each trainer in trainers
            li= trainer
    